{% extends 'moviedb/base.html' %}
{% block title %}
{{ page_name }} movies
{% endblock %}
{% block content %}
<span class="title">{{ page_name }}</span>
<hr class="thin-line">
<hr class="bold-line">
<div class="list-movies">
    <ul class="ul-list-movies">
        {% for movie in movies %}
            {% if movie.poster_path %}
                <div class="movie">
                    <a class='link-movie' href="{% url 'desc' movie.id %}">
                        <p class="vote_average-list">{{ movie.vote_average }} <span class="star-icon">&#9733;</span></p>
                        <img class="movie-poster-list" src="{{ path|add:movie.poster_path }}" alt="">
                        <li class="movie-title-list">{{ movie.title }}</li>
                        <p class="release_date-list">{{ movie.release_date }}</p>
                    </a>
                </div>
            {% endif %}                
        {% endfor %}
    </ul>
</div>

    <div class="pagination">
        {% for page in totalPages %}
            {% if page == number_page  %}
                <span class="pagin-page select-pagin-page">{{ page }}</span>
            {% else %}
                <span class="pagin-page"><a href="{% url page_name page %}">{{ page }}</a></span>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

